@font-face {
  font-family: 'iconfont';  /* project id 1619251 */
  src: url('//at.alicdn.com/t/font_1619251_l61a152c8v8.eot');
  src: url('//at.alicdn.com/t/font_1619251_l61a152c8v8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1619251_l61a152c8v8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1619251_l61a152c8v8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1619251_l61a152c8v8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1619251_l61a152c8v8.svg#iconfont') format('svg');
}
  .iconfont{
    font-family: 'iconfont';
}
.iconfont{
 font-size: 20px;
}