@font-face {
  font-family: 'iconfont';  /* project id 1619251 */
  src: url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.eot');
  src: url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.woff') format('woff'),
  url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1619251_hhxo7w43l9j.svg#iconfont') format('svg');
}
  .iconfont{
    font-family: 'iconfont';
}
.iconfont{
 font-size: 20px;
}


/**修改element样式**/
.el-carousel__indicators {
  z-index: -10;
}