@font-face {
  font-family: 'iconfont';  /* project id 1619251 */
  src: url('//at.alicdn.com/t/font_1619251_ts122z7p2f.eot');
  src: url('//at.alicdn.com/t/font_1619251_ts122z7p2f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1619251_ts122z7p2f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1619251_ts122z7p2f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1619251_ts122z7p2f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1619251_ts122z7p2f.svg#iconfont') format('svg');
}
  .iconfont{
    font-family: 'iconfont';
}
